*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background: url("../img/bg9.jpg") center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    max-width: 400px;
    height: auto;
    border-radius: 4px;
    background:rgba(0,0,0,0.5);
    /*border: 1px solid #eeeeee;*/
    padding: 20px 40px;

}
form .formGroup{
    padding: 6px 0;
    margin-bottom: 10px;
}
.formGroup h3{
    font-size: 16px;
}
.formGroup label{
    display: inline-block;
    font-size: 16px;
}
.formGroup input{
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}